
*{
    padding: 0;
    margin: 0;
  }
  .font-style{
    font-family: 'Poppins', sans-serif !important;
  
  
  }
  .ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
    border: none !important;
    font-family: 'Poppins', sans-serif !important;

}
  /* .authorFont{
    font-family: 'Dancing Script', cursive !important;
  } */

  .dropdown:hover{
    color: #ff9b02 !important;
  }

  .activeClass{
    color: #ff9b02 !important;
  }
  .noActiveClass{
    color: white !important;
  }